body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #2980b9, #2c3e50);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}

h2 {
  text-align: center;
}

input[type="text"],
input[type="password"],
button {
  width: calc(100% - 22px);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
}

input[type="text"],
input[type="password"] {
  width: 100%; 
}

button {
  width: 100%; 
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#message {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
}
